<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
        <title>Portfolio</title>
    </head>
    <header class="header">
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                <ul id="menu">
                    <button onclick="scrollToAboutMe()"><li>About Me</li></button>
                    <button onclick="scrollToQualifications()"><li>Skills</li></button>
                    <button onclick="scrollToStudies()"><li>Studies</li></button>
                    <button onclick="scrollToContact()"><li>Contact</li></button>
                    <button onclick="toggleLanguage()"><li><a href="./en.html">EN /JP</a></li></button>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        <div class="main">
            <div class="introduction">
                <span class="name-container">
                    <p class="name">
                    Kai Kono
                    </p>
                 </span>
            </div>
            <div class="biography">
                <span id="bio-text">
                    <p id="aboutme">About Me</p>
                    <p class="bio">2003年に東京で生まれ、7歳から13歳の間アメリカのカリフォルニア州にて育ち、帰国後に東京学芸大学附属国際中等教育学校に編入。大学は東京を離れ、兵庫の関西学院大学に入学し、建築学を専攻。趣味はPCゲームとドライブ。</p>   
                    <br/>
                    <br/>
                    <p class="bio">元々ものづくりに興味があり、プログラミングの経験もあったため、これを活かせるため自分に向いていると考えていた建築を専攻しました。しかし、建築の中でも気づけばモデリングソフトウェアやコードを用いる作業を行っていたことに気づき、やはり自分にはデジタルな分野が向いていることに気づきました。中でも、大学で学んだ建築設計と考え方が通ずるソフトウェアのUI・UXを追求したいと考えました。</p> 
                    <br/>
                    <br/>
                    <p class="bio">好みのデザインはシンプル、かつ自然で目に優しいものです。</p>
                </span>
                <span id="portrait"></span>
            </div>
            <div class="qualifications-bg">
                <div class="qualifications">
                    <h3 class="entry" id="qualifications">Skills</h3>
                    <br/>
                    <div class="qualifications-container">
                        <span class="qualifications-entry">
                            <span class="qualification-img">
                                <img src="../assets/images/language.png">
                            </span>
                            <span class="qualification-text">
                                <h3>TOEFL 110</h3>
                                <h3>TOEIC 985</h3>
                                <h3 id="eiken">英検１級</h3>
                                <p>アメリカに住んでいた経験から、ネイティブレベルの英語力を習得しました。現在でも当時の友人とこまめに連絡を取り、英語力の維持・向上を心がけています。多言語を習得したことで、より広い視野を持つことができ、考え方の選択肢が増えたと考えています。</p>
                            </span>
                        </span> 
                        <span class="qualifications-entry">
                            <span class="qualification-img">
                                <img src="../assets/images/coding_language.png">
                            </span>
                            <span class="qualification-text">
                                <h3>HTML / CSS / JavaScript</h3>
                                <p>小学校の頃にアメリカで通っていたプログラミングスクールでHTML・CSSを習得し、独学でjavascriptを習得しました。本ポートフォリオサイトもHTML・CSS・javascriptのみで構成されています。</p>
                            </span>
                        </span>
                        <span class="qualifications-entry">
                            <span class="qualification-img">
                                <img src="../assets/images/illustrator_logo.png">
                            </span>
                            <span class="qualification-text">
                                <h3>Adobe Illustrator</h3>
                                <p>大学の課題のプレゼンテーションボードを作成する際に使用しています。現在も学習中ですが、簡易的なポスターやプレゼンテーション作成のためであれば問題なく使えます。</p>
                            </span>
                        </span>
                        <span class="qualifications-entry">
                            <span class="qualification-img">
                                <img src="../assets/images/cad_logo.png">
                            </span>
                            <span class="qualification-text">
                                <h3>CAD / BIM</h3>
                                <p>建築の設計図を作成する際に用いる専門的なソフトウェアですが、これらのソフトを学習したことでモデリングなどの視点・考え方を学べました。</p>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="studies-bg">
                <div class="studies">
                    <h3 class="entry" id="studies">Studies</h3>
                    <div class="studies-ex">
                        <div class="studies-text">
                            <p id="studies1"><strong>大学3年　建築設計演習IV</strong></p>
                            <p id="studies6">(制作期間 7週間)</p>
                            <br/>
                            <br/>
                            <div class="content">
                                <p id="studies2">大学三年次の建築設計演習にて、大阪駅付近にあるお初天神の周りのビルを撤去し新たな複合施設を設計するという課題が与えられました。私はオフィスと同等の収益を見込むための収容率を確保する必要があると考えたため、観光客に向けた高層ホテルを設計しました。また、街の公益性に着眼し、お初天神との関連性を持たせるため、日本庭園の軸を応用した公園も設計しました。</p>
                                <br/>
                                <p id="studies3">この課題を通して、設計者として作りたいものと現実的に求められているもののバランスをとらなければいけないことを学びました。複合施設とはいえ、元々オフィスで収益を得ていた地域には同等またはそれ以上の価値があるものを建設する必要があり、必ずしも設計者が作りたいものを作れないという事実を学びました。</p>
                                <br/>
                                <p id="studies4">また、はじめてRevitというモデリングソフトをしようした課題でもあったため、与えられた短期間で新たなツールを学ぶことができ、自分にとって成長を感じられたプロジェクトでした。以前は住宅などの設計で簡易的な図面を作るためにはCADが効率的でしたが、大型の施設を作るためには緻密な設計より構造や素材がわかるプレゼンテーションの方が優れていると感じたため使用しました。結果的にはより効率的だったため、ものによってツールを変えることの大切さも学ぶことができました。</p>
                            </div>
                        </div>
                        
                        <div class="img-slideshow">
                            <div class="imgs">
                                <img class="studies-img1" src="../assets/images/project_1_1.png">
                                <img class="studies-img1" src="../assets/images/project_1_2.png">
                                <img class="studies-img1" src="../assets/images/project_1_3.png">
                                <img class="studies-img1" src="../assets/images/project_1_4.png">
                                <img class="studies-img1" src="../assets/images/project_1_5.png">
                            </div>
                            <div class="arrows">
                                <button class="arrow-button-left" onclick="moveSlide1(-1)"> ◀︎ </button>
                                <button class="arrow-button-right" onclick="moveSlide1(1)"> ▶︎ </button>
                            </div>
                        </div>
                    </div>
                    <div class="studies-ex">
                        <div class="studies-text" >
                            <p id="studies5"><strong>株式会社インフラトップ インターン</br>アプリケーション制作</strong></p>
                            <p id="studies6"> (制作期間 1ヶ月、コードはこちら: <a href="https://www.github.com/kai9kono/bookers2" target="_blank">GitHub</a>)</p>
                            <br/>
                            <br/>
                            <p id="studies7">長期インターンの研修課題にて、Ruby及びRuby on Railsを新たなプログラミング言語として習得しました。Bookersという、ユーザーが読んだ本のタイトルと意見を投稿し、投稿に対していいねやコメントができるという簡易的なアプリケーションを作成しました。</p>
                            <br/>
                            <p id="studies8">この課題を通して、初めてデータベース機能を持つアプリケーションを作成する経験ができました。今まで制作してきたプログラムやウェブサイトはデータベースがないものでした。そのため、投稿フォームや投稿の保存と表示をする際のフローを理解することに苦労しましたが、１ヶ月という短い期間で言語を学習し、プロジェクトを完成することができました。</p>
                            <br/>
                            <p id="studies9">本インターンでは、エンジニアへの転職を志望する方々のプログラミング学習をメンターとして支えるという業務を行っていました。そのため、様々な背景を持つ方々とのコミュニケーションをすることを学べた上に、メンターとして簡潔に、順序立てを行うことでわかりやすく話す能力も身につきました。</p>
                        </div>
                        
                        <div class="img-slideshow">
                            <div class="imgs">
                                <img class="studies-img2" src="../assets/images/project_3_1.png">
                                <img class="studies-img2" src="../assets/images/project_3_2.png">
                                <img class="studies-img2" src="../assets/images/project_3_3.png">
                                <img class="studies-img2" src="../assets/images/project_3_4.png">
                                <img class="studies-img2" src="../assets/images/project_3_5.png">
                                <img class="studies-img2" src="../assets/images/project_3_6.png">
                            </div>
                            <div class="arrows">
                                <button class="arrow-button-left" onclick="moveSlide2(-1)"> ◀︎ </button>
                                <button class="arrow-button-right" onclick="moveSlide2(1)"> ▶︎ </button>
                            </div>
                        </div>
                    </div>
                    <div class="studies-ex">
                        <div class="studies-text" id="kominka">
                            <p id="studies10"><strong>大学3年　古民家再生プロジェクト</strong></p>
                            <br/>
                            <br/>
                            <p id="studies11">大学のセミナーにて、滋賀県の多賀町にある古民家に新たな用途を持たせて再生をするプロジェクトを行っています。現在はまだ現地調査を行っている途中ですが、私は建物の図面や３Dモデルを作成し、リフォームの案をモデリングするというデジタル担当をになっています。まだまだプロジェクトは途中ですが、ゼミというチームでひとつのプロジェクトを決行することや、自分の役割を全うする責任を学べました。また、現地の方々にどのような需要があるかを調査していく中で、実際に行動するこの大切さも学べました。</p>
                            <br/>
                            <br/>
                            <p id="studies12">また、ゼミでの仮研究テーマ「建築設計・リフォームにおけるAIの活用」について現在調査しています。</p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="contact">
                    <div class="entry" id="contact">
                        <h3 class="contact-entry" id="contact">Contact</h3>                        
                    </div>
                    <div class="contact-content">
                        <span class="contact-details">
                            <span class="contact-img">
                                <img src="../assets/images/mail-icon.png">
                            </span>
                            <span id="mail">
                                <p>kai9kono@gmail.com</p>
                            </span> 
                        </span>
                        <span class="contact-details">
                            <span class="contact-img">
                                <img src="../assets/images/phone-icon.png"> 
                            </span>
                            <span id="phone">
                                <p>080-9469-1969</p>
                            </span>
                        </span>
                    </div>
                </div>
        </div>
        <script src="../scripts/script.js"></script>
    </body>
</html>