<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
        <title>Portfolio</title>
    </head>
    <header class="header">
        <div class="header-title">
            <h1>Portfolio</h1>
        </div>
    </header>
    <body>
        <div class="main">
            <div class="introduction">
                <p class="fade-in">
                    I am //
                    <br/>
                    <span id="desc"></span>
                    <p class="fade-in scroll">▼</p>
                </p>   
            </div>
        </div>

        
        
        
        
        
        
        
        <script src="../scripts/script.js"></script>
    </body>
</html>